debug/
release/
GeneratedFiles/
Makefile*
*.pro.user
config.ini
records/*
.DS_Store
QSanguosha.pro.user*
QSanguosha.exe
QSanguosha
QSanguosha-bin*
debugQSanguosha
/tools/
/extensions
*~
*.kdev4
.cproject
.project
.settings
/lua/ai/private-smart-ai.lua
card_intention.txt
/dmp/*.dmp
/dmp/*/
*Thumbs.db
*.tmp
fmod.log
info.html
platforms
/imageformats
/QSanguosha.app/
*.pd_
*.lastcodeanalysissucceeded
/etc/customScenes/custom_scenario.txt
/etc
OGLdpf.log
QtQuick.2/
src/bot_version.cpp
.idea
cmake-build*
Qt5*.dll
/fmod*.dll
/vld*.dll
/freetype.dll
/build